@font-face {
    font-family: 'SB Sans Cond Mono';
    src: url('SBSansCondMono-Bold.eot');
    src: url('SBSansCondMono-Bold.eot?#iefix') format('embedded-opentype'),
        url('SBSansCondMono-Bold.woff2') format('woff2'),
        url('SBSansCondMono-Bold.woff') format('woff'),
        url('SBSansCondMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SB Sans Display';
    src: url('SBSansDisplay-Bold.eot');
    src: url('SBSansDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('SBSansDisplay-Bold.woff2') format('woff2'),
        url('SBSansDisplay-Bold.woff') format('woff'),
        url('SBSansDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SB Sans Cond Mono';
    src: url('SBSansCondMono-Regular.eot');
    src: url('SBSansCondMono-Regular.eot?#iefix') format('embedded-opentype'),
        url('SBSansCondMono-Regular.woff2') format('woff2'),
        url('SBSansCondMono-Regular.woff') format('woff'),
        url('SBSansCondMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SB Sans Text';
    src: url('SBSansText-Regular.eot');
    src: url('SBSansText-Regular.eot?#iefix') format('embedded-opentype'),
        url('SBSansText-Regular.woff2') format('woff2'),
        url('SBSansText-Regular.woff') format('woff'),
        url('SBSansText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SB Sans Text';
    src: url('SBSansText-Medium.eot');
    src: url('SBSansText-Medium.eot?#iefix') format('embedded-opentype'),
        url('SBSansText-Medium.woff2') format('woff2'),
        url('SBSansText-Medium.woff') format('woff'),
        url('SBSansText-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SB Sans Display';
    src: url('SBSansDisplay-Light.eot');
    src: url('SBSansDisplay-Light.eot?#iefix') format('embedded-opentype'),
        url('SBSansDisplay-Light.woff2') format('woff2'),
        url('SBSansDisplay-Light.woff') format('woff'),
        url('SBSansDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SB Sans Text Caps';
    src: url('SBSansTextCaps-Regular.eot');
    src: url('SBSansTextCaps-Regular.eot?#iefix') format('embedded-opentype'),
        url('SBSansTextCaps-Regular.woff2') format('woff2'),
        url('SBSansTextCaps-Regular.woff') format('woff'),
        url('SBSansTextCaps-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SB Sans Text';
    src: url('SBSansText-Semibold.eot');
    src: url('SBSansText-Semibold.eot?#iefix') format('embedded-opentype'),
        url('SBSansText-Semibold.woff2') format('woff2'),
        url('SBSansText-Semibold.woff') format('woff'),
        url('SBSansText-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SB Sans Text Mono';
    src: url('SBSansTextMono-Bold.eot');
    src: url('SBSansTextMono-Bold.eot?#iefix') format('embedded-opentype'),
        url('SBSansTextMono-Bold.woff2') format('woff2'),
        url('SBSansTextMono-Bold.woff') format('woff'),
        url('SBSansTextMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SB Sans Screen';
    src: url('SBSansScreen-Regular.eot');
    src: url('SBSansScreen-Regular.eot?#iefix') format('embedded-opentype'),
        url('SBSansScreen-Regular.woff2') format('woff2'),
        url('SBSansScreen-Regular.woff') format('woff'),
        url('SBSansScreen-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SB Sans Display';
    src: url('SBSansDisplay-Regular.eot');
    src: url('SBSansDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('SBSansDisplay-Regular.woff2') format('woff2'),
        url('SBSansDisplay-Regular.woff') format('woff'),
        url('SBSansDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SB Sans Text';
    src: url('SBSansText-BoldItalic.eot');
    src: url('SBSansText-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('SBSansText-BoldItalic.woff2') format('woff2'),
        url('SBSansText-BoldItalic.woff') format('woff'),
        url('SBSansText-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SB Sans Text';
    src: url('SBSansText-Italic.eot');
    src: url('SBSansText-Italic.eot?#iefix') format('embedded-opentype'),
        url('SBSansText-Italic.woff2') format('woff2'),
        url('SBSansText-Italic.woff') format('woff'),
        url('SBSansText-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SB Sans Text';
    src: url('SBSansText-Heavy.eot');
    src: url('SBSansText-Heavy.eot?#iefix') format('embedded-opentype'),
        url('SBSansText-Heavy.woff2') format('woff2'),
        url('SBSansText-Heavy.woff') format('woff'),
        url('SBSansText-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SB Sans Display';
    src: url('SBSansDisplay-Semibold.eot');
    src: url('SBSansDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
        url('SBSansDisplay-Semibold.woff2') format('woff2'),
        url('SBSansDisplay-Semibold.woff') format('woff'),
        url('SBSansDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SB Sans Text Cond';
    src: url('SBSansTextCond-Bold.eot');
    src: url('SBSansTextCond-Bold.eot?#iefix') format('embedded-opentype'),
        url('SBSansTextCond-Bold.woff2') format('woff2'),
        url('SBSansTextCond-Bold.woff') format('woff'),
        url('SBSansTextCond-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SB Sans Display';
    src: url('SBSansDisplay-Thin.eot');
    src: url('SBSansDisplay-Thin.eot?#iefix') format('embedded-opentype'),
        url('SBSansDisplay-Thin.woff2') format('woff2'),
        url('SBSansDisplay-Thin.woff') format('woff'),
        url('SBSansDisplay-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SB Sans Text';
    src: url('SBSansText-Bold.eot');
    src: url('SBSansText-Bold.eot?#iefix') format('embedded-opentype'),
        url('SBSansText-Bold.woff2') format('woff2'),
        url('SBSansText-Bold.woff') format('woff'),
        url('SBSansText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SB Sans Text Cond';
    src: url('SBSansTextCond-Regular.eot');
    src: url('SBSansTextCond-Regular.eot?#iefix') format('embedded-opentype'),
        url('SBSansTextCond-Regular.woff2') format('woff2'),
        url('SBSansTextCond-Regular.woff') format('woff'),
        url('SBSansTextCond-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SB Sans Text';
    src: url('SBSansText-LightItalic.eot');
    src: url('SBSansText-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('SBSansText-LightItalic.woff2') format('woff2'),
        url('SBSansText-LightItalic.woff') format('woff'),
        url('SBSansText-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SB Sans Text';
    src: url('SBSansText-Light.eot');
    src: url('SBSansText-Light.eot?#iefix') format('embedded-opentype'),
        url('SBSansText-Light.woff2') format('woff2'),
        url('SBSansText-Light.woff') format('woff'),
        url('SBSansText-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SB Sans Text Caps';
    src: url('SBSansTextCaps-Bold.eot');
    src: url('SBSansTextCaps-Bold.eot?#iefix') format('embedded-opentype'),
        url('SBSansTextCaps-Bold.woff2') format('woff2'),
        url('SBSansTextCaps-Bold.woff') format('woff'),
        url('SBSansTextCaps-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SB Sans Text Mono';
    src: url('SBSansTextMono-Regular.eot');
    src: url('SBSansTextMono-Regular.eot?#iefix') format('embedded-opentype'),
        url('SBSansTextMono-Regular.woff2') format('woff2'),
        url('SBSansTextMono-Regular.woff') format('woff'),
        url('SBSansTextMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SB Sans Text';
    src: url('SBSansText-SemiboldItalic.eot');
    src: url('SBSansText-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('SBSansText-SemiboldItalic.woff2') format('woff2'),
        url('SBSansText-SemiboldItalic.woff') format('woff'),
        url('SBSansText-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SB Sans Interface';
    src: url('SBSansInterface-Regular.eot');
    src: url('SBSansInterface-Regular.eot?#iefix') format('embedded-opentype'),
        url('SBSansInterface-Regular.woff2') format('woff2'),
        url('SBSansInterface-Regular.woff') format('woff'),
        url('SBSansInterface-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SB Sans Interface';
    src: url('SBSansInterface-Semibold.eot');
    src: url('SBSansInterface-Semibold.eot?#iefix') format('embedded-opentype'),
        url('SBSansInterface-Semibold.woff2') format('woff2'),
        url('SBSansInterface-Semibold.woff') format('woff'),
        url('SBSansInterface-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SB Sans Interface Caps';
    src: url('SBSansInterface-Caps.eot');
    src: url('SBSansInterface-Caps.eot?#iefix') format('embedded-opentype'),
        url('SBSansInterface-Caps.woff2') format('woff2'),
        url('SBSansInterface-Caps.woff') format('woff'),
        url('SBSansInterface-Caps.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SB Sans Interface';
    src: url('SBSansInterface-Bold.eot');
    src: url('SBSansInterface-Bold.eot?#iefix') format('embedded-opentype'),
        url('SBSansInterface-Bold.woff2') format('woff2'),
        url('SBSansInterface-Bold.woff') format('woff'),
        url('SBSansInterface-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SB Sans Interface';
    src: url('SBSansInterface-Light.eot');
    src: url('SBSansInterface-Light.eot?#iefix') format('embedded-opentype'),
        url('SBSansInterface-Light.woff2') format('woff2'),
        url('SBSansInterface-Light.woff') format('woff'),
        url('SBSansInterface-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SB Sans Text';
    src: url('SBSansText-Thin.eot');
    src: url('SBSansText-Thin.eot?#iefix') format('embedded-opentype'),
        url('SBSansText-Thin.woff2') format('woff2'),
        url('SBSansText-Thin.woff') format('woff'),
        url('SBSansText-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

